[submodule "_minutes"]
	path = _minutes
	url = https://github.com/snoopycrimecop/meeting-minutes
[submodule "Schemas"]
	path = Schemas
	url = https://github.com/snoopycrimecop/schemas
[submodule "_governance"]
	path = _governance
	url = https://github.com/snoopycrimecop/governance.git
